<div class="room-user-name">
  <%= @user.name%>さんの情報
</div>
<table class="detail-table">
  <tbody>
    <tr>
      <th class="detail-item">投稿者</th>
      <td class="detail-value"><%= @user.name %></td>
    </tr>
    <tr>
      <th class="detail-item">メールアドレス</th>
      <td class="detail-value"><%= @user.email %></td>
    </tr>
    <% if @user.phone_number.present? %>
      <tr>
        <th class="detail-item">電話番号</th>
        <td class="detail-value"><%= @user.phone_number %></td>
      </tr>
    <% else %>
     <tr>
        <th class="detail-item">電話番号</th>
        <td class="detail-value">※※※※</td>
      </tr>
    <% end %>
    <tr>
      <th class="detail-item">出身地</th>
      <td class="detail-value"><%= @user.prefecture.name %></td>
    </tr>
    <tr>
      <th class="detail-item">プロフィール</th>
      <td class="detail-value"><%= @user.profile %></td>
    </tr>
  </tbody>
</table>