<h1 class="main-title">ルーム一覧</h1>

<div class="inner">
  <div class="room_wrapper">
    <% @rooms.each do |room| %>
      <div class="room">
        <div class="room-name">
          主催者: <%= link_to room.user.name, user_path(room.user.id), class: "room-none" %>
        </div>
        <div class="room-information">
          ルーム名: <%= room.room_name %>
        </div>
        <div class="room-place">
          主催場所: <%= room.prefecture.name %>、<%= room.municipalities %>
        </div>
        <div class="room-host-date">
          集合日時: <%= room.host_date.strftime("%Y年%-m月%-d日 %-H時%-M分") %>
        </div>
          <div class="more_select">
            <ul class="more_lists">
              <li>
                <%= link_to '詳細', "#", class: :more_list %>
              </li>
              <% if user_signed_in? && current_user.id == room.user_id %>
                <li>
                  <%= link_to '編集', edit_room_path(room.id), class: :more_list %>
                </li>
                <li>
                  <%= link_to '削除', room_path(room.id), method: :delete, class: :more_list %>
                </li>
              <% end %>
            </ul>
          </div>
      </div>
    <% end %>
  </div>
</div>