<div class="room-title-name">ルーム名
  <%= @room.room_name %>
</div>
<div class="comments">
  <div class="comment-title">
  <% @comments.each do |comment| %>
    <p>
      <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %></strong>
      <%= comment.text %>
      <%= l comment.created_at %>
    </p>
  <% end %>
  </div>
</div>
<%= form_with model: [@room, @comment], class: 'comment-form', local: true do |f| %>
  <div class="comment-from">
    <%= f.text_field :text, class: 'form-message', placeholder: 'コメントする' %>
    <%= f.submit '送信', class: 'form-submit' %>
  </div>
<% end %>
